$base-color: #B9D7D9;
$secondary-color:  #493736;
$base-accent: #668284;
$secondary-accent: #7B3B3B;
$text: #2A2829;


body {
	color: $text;
    background-color: $base-color;

}


.navbar-text {
	display:inline-block;
    position:absolute;
    right:0;
    margin-right:8px;
}
