$base-color: #E9E0D1;
$secondary-color:  #33605A;
$base-accent: #91A398;
$secondary-accent: #68462B;
$text: #070001;


body {
	color: $text;
    background-color: $base-color;

}


.navbar-text {
	display:inline-block;
    position:absolute;
    right:0;
    margin-right:8px;
}

nav{
    background-color: $secondary-color;
    color: $base-accent;
}

nav a {
    color: $base-accent;
}

ul {
    list-style-type: none;
}