<%- include("partials/header"); -%>






 <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">


        

          <form class="" action="/compose" method="post">
            <input type="text" name="title" value="title" size="30">
            <textarea type="textarea" class="form-control" id="bodyInput" name="body" value="body" rows="40"></textarea>
            <button type="submit" name="button">Add</button>
          </form>


<%- include("partials/footer"); -%>









        
