<%- include("partials/header"); -%>

<div class="card mb-4">
                <div class="jumbotron jumbotron-fluid">
                  <div class="container">
                    <h1 class="display-1"><%= renderPost.title %></h1>
                    <p class="lead">Created by Will</p>
                  </div>
                  </div>
                  <div class="col-9 mx-auto">
                    <%- renderPost.text %>
                  </div>
            
          <div class="card-footer text-muted">
          </div>
</div>


<%- include("partials/footer"); -%>